{% extends 'store/main.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>store</title>
</head>
<body>
    {% block content %}
 
      
        <div class="row">
            {% for product in products %}
            <div class="col-lg-4">
                <img class="thumbnail" src="{{product.imageURL}}">
                <div class="box-element product">
                    <h6><strong>{{product.name}}</strong></h6>
		            <hr>
                    <button data-product = "{{product.id}}" data-action = "add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
		<a class="btn btn-outline-success" href="#">View</a>
		<h4 style="display: inline-block; float: right"><strong>${{product.price}}</strong></h4>
                </div>
            </div>
            {% endfor %}

            
        </div>
	<div class="pagination">
            <span class="step-links">
                {% if products.has_previous %}
                    <a class="btn btn-outline-primary" href="?page=1">&laquo; First</a>
                    <a class="btn btn-outline-primary" href="?page={{ products.previous_page_number }}">Previous</a>
                {% endif %}

                <span class="current-page">{{ products.number }}</span>

                {% if products.has_next %}
                    <a class="btn btn-outline-primary" href="?page={{ products.next_page_number }}">Next</a>
                    <a class="btn btn-outline-primary" href="?page={{ products.paginator.num_pages }}">Last &raquo;</a>
                {% endif %}
            </span>
        </div>
    {% endblock content %}
</body>
</html>


